@import 'index.styl'

#blog
  #banner
    background-image url('/images/blog_banner.jpg')
    min-height inherit

  #content

    .singleColumn
      margin auto
      max-width 800px

    .BlogTitle, .BlogDate
      text-align center

    .BlogTitle > a, .BlogTitle
      color darkBg
      font-size largeHeaderSize

    .BlogDate
      @extend .defaultFont

    h3
      color mediumBg
      font-size regularTextSize

    h4, h4 > a
      text-align center
      font-size smallHeaderSize
      color darkBg
