@import 'index.styl'

#contact
  #contentContainer
    position relative
    width 100%
    padding-top 50px

  #nav
    top 0

  #title
    padding-top regularTextSize

  #content
    margin-top 30px
    #directions
      text-align center
      padding-right 1em
      border-right 1px solid lighten(black, 75%)
      .map
        margin auto
        margin-bottom 1em
      .info
        margin-top 1em

    #contact
      h1
        display none
      .instruction
        @extend .lightFont
        font-size tinyTextSize
        margin-bottom regularTextSize

        a
          text-decoration underline
          &:hover
            text-decoration none
