@import 'index.styl'

#home
  #banner

    text-align right
    vertical-align center
    background-image url('/images/family.jpg')
    background-position top center
    background-color white

    #summaryContainer
      max-width 1400px
      height 100%
      margin auto

    #summary
      padding 75px pagePadding
      display inline-block
      text-align center
      color darkBg

  #content

    .membership
      text-align center
      display table
      margin goldenRatio*1em auto 0 auto

    #intro
      margin-bottom largeHeaderSize
