@import 'index.styl'

#practice
  #banner
    background-image url('/images/practice_banner.jpg')
  
  #content
    margin-bottom 2em

    h1
      margin-top largeHeaderSize

    h2
      color darkBg
      border-bottom 1px solid darkBg

    h3
      color darkBg

    #serviceList
      background-color transparent

    .dividerRow
      padding-top 2em
      padding-bottom 2em

    #estatePlanning
      h1
        text-align center
      h2
        margin-top regularTextSize
      .intro > div
        margin-top regularTextSize
