@import 'index.styl'

@media screen and (max-width: 480px)
  #home
    #banner
      height 350px !important
      #summaryContainer
        background-image linear-gradient(right, white, rgba(255, 255, 255, 0.25))

  #nav .btn-navbar
    font-size regularTextSize

  #header #name
    font-size largeHeaderSize

  #banner #bannerContent
      margin-left smallPagePadding
      margin-right smallPagePadding
  #content
    padding-left smallPagePadding !important
    padding-right smallPagePadding !important
  #about
    #photosColumn
      display none
  #directions #content #map
    height 300px
