@import 'index.styl'

@media screen and (max-width: 979px)
  pagePadding = 20px

  h1
    font-size mediumHeaderSize
  h2
    font-size smallHeaderSize
  h3
    font-size tinyTextSize
  h4
    font-size tinyTextSize

  .fixedFluidColumnContainer
    &> .left
      display block
      position relative
      float none !important
    &> .right
      display block
      padding-left 0 !important

  #nav 
    .btn-navbar
      display block
    li.navButton
      display block

  #header
    box-shadow none

    #headerContact
      font-size tinyTextSize

  #footer
    padding 10px

    .nav, .copyright, .contact
      text-align center
      display block
      float none
      width auto
    
    .nav a
      display inline
      &:after
        content ' '
    .copyright
      margin-bottom 20px


  #title
    font-size largeHeaderSize
  #bannerContent 
    margin-left pagePadding
    margin-right pagePadding
    #subtitle
      font-size smallHeaderSize

  #content
    padding-left pagePadding
    padding-right pagePadding

  #home
    #banner
      #summary 
        text-align right
        padding-right smallPagePadding

  #about
    #photosColumn
      display none
    #contentColumn
      float none
      width 90%

  #contact
    #content
      #directions
        border-right-width 0
      #contact .instruction
        text-align left

  #practice
    #medicaid, #guardianship, #probate, #specialNeeds
      h1
        font-size mediumHeaderSize

  #directions
    #contentContainer
      padding-top 0
    #content
      padding 0 !important
      margin 0
