@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700')

lightBg = #e4d9b9
mediumBg = #d79767
darkBg = #a33117
textColor = #23303a
lightTextColor = white
contrastColor = #2c384e
buttonColor = lighten(darkBg, 15%)
buttonAltColor = contrastColor

goldenRatio = 1.618

tinyTextSize = 14px
regularTextSize = 18px
smallHeaderSize = 23px
mediumHeaderSize = 29px
largeHeaderSize = 37px
defaultLineHeight = 1.5em

pagePadding = 100px
smallPagePadding = 20px

.headerFont
  font-family 'Playfair Display SC', 'Palatino Linotype', 'Palatino', serif

.defaultFont
  font-family Helvetica, sans-serif
.lightFont
  font-family 'Helvetica-Light', 'Helvetica Light', Helvetica, sans-serif
  font-weight 300
.spacer
  display inline-block
  width 0.1em
  height 1em

.button
  @extend .lightFont
  font-size 18px
  line-height defaultLineHeight
  color lightTextColor
  text-shadow 0 -1px 0 rgba(black, 50%)
  text-align center

  display inline-block

  user-select none
  cursor pointer

  position relative
  padding 0.5em 1em

  background-color buttonColor
  box-shadow 0 2px 2px rgba(black, 50%)

  &:hover
    color lightTextColor
    text-decoration none
    background-color lighten(buttonColor, 15%)
  &:active
    color lightTextColor
    text-decoration none
    background-color darken(buttonColor, 15%)
    box-shadow 0 1px 2px rgba(black, 50%)

.button.alternate
  background-color buttonAltColor
  &:hover
    background-color lighten(buttonAltColor, 15%)
  &:active
    background-color darken(buttonAltColor, 15%)

.verticalCenterContainer
  display table
  height 100%
  margin auto
  .verticalCenterChild
    display table-cell
    vertical-align middle
    padding-top regularTextSize

.horizontalDivider
  display block
  position relative
  width 100%
  height 2px !important
  min-height 2px !important
  max-height 2px !important
  box-sizing border-box !important
  background-color lighten(black, 75%)
  border-bottom 1px solid white
  margin-top 1em
  margin-bottom 1em

.fixedFluidColumnContainer
  &:after
    position relative
    display block
    content ''
    clear both

  &> .left
    position relative
    float left
  &> .right
    position relative
    width 100%
    box-sizing border-box

.captionedImage
  .caption
    @extend .lightFont
    font-size tinyTextSize
    color lighten(desaturate(textColor, 50%), 50%)
    text-transform uppercase

.callout
  color darkBg

.SingleColumn
  max-width 800px
  margin auto

