@import 'index.styl'

#footer
  darkerColor = darken(darkBg, 60%)
  position relative
  bottom 0
  width 100%

  box-sizing border-box
  padding 20px pagePadding

  font-size regularTextSize
  color darkerColor
  text-align center

  background-color darkBg
  border-top 7px solid mediumBg

  .copyright
    font-size tinyTextSize

  a
    color darkerColor
    &:hover
      color lightBg
    &:active
      color whiteTextColor

  .nav
    text-align left

    a
      display block

  .contact
    text-align right
