@import 'index.styl'

#about
  #banner
    background-image url('/images/about_banner.jpg')

  #content
    margin-bottom 1em

    #photosColumn
      .captionedImage
        margin-bottom regularTextSize
      #faith
        width 380px
        height auto
      #haverhill
        width 380px
        height auto
      #neu
        width 380px
        height auto

    #contentColumn
      #innerContent
        margin-left 1em
        
        #credentials
          h2
            color mediumBg
            width leftColumnWidth

          .fixedFluidColumnContainer
            margin-bottom goldenRatio * 1em
        
            leftColumnWidth = 250px
            .left
              width leftColumnWidth
              h2
                margin 0
                line-height 1
            .right
              padding-left leftColumnWidth
