@import 'index.styl'

#header
  @extend .lightFont

  position relative
  top 0
  padding tinyTextSize 0

  color darken(darkBg, 25%)
  text-align center
  font-size regularTextSize

  background-image url('/images/white_leather.jpg')

  z-index z-header

  #name
    text-shadow 0 -1px darken(darkBg, 25%)
    color darkBg
    font-size 47px
