@import 'index.styl'

@media screen and (max-width: 767px)
  #contact

    #title
      display none

    #content
      #contact
        margin-top smallHeaderSize
        border-top 1px solid lighten(black, 75%)
        padding-top smallHeaderSize

        .instruction
          text-align center

        h1
          display inherit

    #about #content #contentColumn #innerContent #credentials
      .fixedFluidColumnContainer .left
        h2
          margin 10px 0

  #home
    #banner
      #summary
        padding 75px smallPagePadding
        h3
          font-size regularTextSize
